@import '../variables';

.footer-section {
  margin-top: 50px;
  background-color: rgb(255, 177, 132);

  .main-content {
    .contact-us {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      .custom-container {
        display: flex;
        flex-direction: column;
      }
  
      &__block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 10px;
        margin: 0 0 0 10px;
        min-width: 300px;
  
        & i {
          color: #ff5e14;
          font-size: 20px;
          margin-right: 15px;
        }
      }
    
      &__text {
        display: flex;
        flex-direction: column;
    
        & h3 {
          color: rgb(54, 54, 54);
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 2px;
        }
    
        & span {
          color: #757575;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .footer-store {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 50px;
      span {
        color: rgb(54, 54, 54);
        font-size: 16px;
        font-weight: 700;
      }

      .pay {
        cursor: pointer;

        img {
          width: 60px;
          margin-right: 20px;
        }
      }

      .download {
        cursor: pointer;
        padding: 0;
        margin: 0;

        &__with-play-gogle {
          width: 120px;
        }

        &__with-app-store {
          width: 100px;
        }
      }
    }

    .footer-social-icon {
      span {
        display: flex;
        justify-content: flex-start;
        color: rgb(54, 54, 54);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .social-icon {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 18px;

        i {
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          margin-right: 15px;
          height: 30px;
          width: 30px;
          text-align: center;
          line-height: 28px;
          border-radius: 50%;
        }

        .facebook-bg {
          background: #3B5998;
        }
        
        .twitter-bg {
          background: #55ACEE;
        }
        
        .google-bg {
          background: #DD4B39;
        }

        .insta-bg {
          background: rgba(255, 81, 0, 0.911);
          font-size: 19px;
        }
      }

      h3 {
        color: rgb(54, 54, 54);
        font-size: 16px;
        font-weight: 700;
      }
  
      p {
        color: #757575;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }
  }

  .footer-logo {
    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0px 25px;
    }

    h3 {
      color: rgb(54, 54, 54);
      font-size: 16px;
      font-weight: 700;
    }

    p {
      color: #757575;
      font-size: 14px;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }
  }

  .copyright {
    background: #000000;
    padding: 25px 0;
  
    &__lg-section {
      display: flex;
      align-items: center;
      justify-content: center;
  
      & p {
        margin: 0;
        font-size: 14px;
        color: #919191;
        font-weight: 600;
  
        & span {
          color: #ff651e;
          letter-spacing: 1px;
        }
      }
    }
  
    &__rg-section {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      
      & ul {
        margin: 0px;
        padding: 0px;
  
        & li {
          display: inline-block;
          margin-left: 20px;
          font-size: 14px;
          color: #919191;
          font-weight: 600;
          transition: all .1s;
    
          &:hover {
            color: #ff5e14;
            cursor: pointer;
          }
        }
      }
    }
  }
}



