@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800');

.header {
  background-color: rgb(255, 255, 255);
  padding: 25px 40px;

  .custom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 15px;
      width: 65px;
      height: 65px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h1 {
      display: flex;
      justify-content: flex-start;
      color: #181818;
      font-size: 33px;
      letter-spacing: 1px;
      text-transform: capitalize;
      font-weight: 600;
      font-family: 'Baloo Thambi 2', cursive;
    }

    p {
      color: #636363;
    }
  }
}
